$brightblue: #33ccff;
$gray: gray;
$space: 10px;

body {
  // background-image: url("../../scss/img01.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.header {
  background: $gray;
}

h1 {
  text-align: center;
  color: $brightblue;
  padding-top: $space;
  padding-bottom: $space;
}

#userInput {
  width: 300px;
}

button {
  margin-top: $space;
  border-radius: 5px;
  width: auto;
  background-color: $brightblue;
  font-weight: bold;
  font-size: 16px;
}

#output {
  display: none;
}
